@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    overflow: hidden;
} */

:root {
    --primary: #ffd700;
}

body {
    position: relative;
    background: #000000;
    font-family: "Roboto", sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
}

.logo {
    font-family: "Great Vibes", cursive;
    font-size: 3em;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav li {
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

.nav li .nav-btn::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: var(--primary);
    transition: 0.3s;
}

.nav li .nav-btn:hover::after {
    width: 50%;
}


.nav li .nav-btn:hover {
    color: var(--primary);
}

.nav .nav-btn.active {
    color: var(--primary);
}

.nav .nav-btn.active::after {
    width: 50%;
}

.bag {
    position: relative;
    color: #ffffff;
    font-size: 1.8em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bag .number {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #000000;
    font-size: 0.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
    position: relative;
    transition: 0.3s;
}

.menu ion-icon {
    color: #ffffff;
    font-size: 1.8em;
}

.menu.active {
    transform: rotateZ('45deg');
}

.nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 990;
    gap: 20px;
}

.nav-mobile.active {
    opacity: 1;
    visibility: visible;
}

.nav-mobile li {
    position: relative;
    list-style: none;
}

.nav-mobile li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
    padding: 10px;
}

.nav-mobile li::before {
    position: absolute;
    bottom: -10px;
    left: 50px;
    transform: translateX(-50%);
    content: '';
    height: 2px;
    width: 50%;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.nav-mobile li:hover::before {
    opacity: 1;
    visibility: visible;
}

/* hero banner section */

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
    background: #111111;
    perspective: 1000px;
    transform-style: preserve-3d;
    z-index: 800;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg.png) no-repeat;
    background-size: 100% 100%;
    background-position: center
}

.banner .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .content h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1em;
}

.banner .content h4 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 1em;
}

.banner .content p {
    color: #ffffff;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.content-btn {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    width: 200px;
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

.content-btn:hover {
    background: radial-gradient(ellipse farthest-corner at left top,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at right bottom,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

/* spin 3d crousel */
#drag-container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

#spin-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    animation: spin 20s infinite linear;
}

#spin-container img {
    position: absolute;
    left: 0;
    top: 50px;
    width: 200px;
    height: 259px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 1s;
}

#spin-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0 0 5px #000;
    z-index: 1000;
    pointer-events: none;
}

#ground {
    width: 900px;
    empty-cells: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotateY(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotateY(360deg);
    }
}

/* main */
main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: -140px;
}


section {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 150px 100px 50px 100px;
    background: #111111;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    z-index: 900;
    overflow-y: auto;
    color: #ffffff;
}

section::-webkit-scrollbar {
    width: 0 !important;
}

section.active {
    left: 0;
    height: auto;
    min-height: 100vh;
    transition: 1s;
}

section::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

section h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    letter-spacing: 2px;
    color: #ffffff
}

section h4 {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: var(--primary);
    text-shadow: 0 0 20px var(--primary);
}

section p {
    color: #dddddd;
    font-size: 12px;
    line-height: 1.3;
}

section .section-content {
    position: relative;
    z-index: 900;
}

section .content-btn {
    width: 130px;
    float: right;
    padding: 5px 10px;
    font-size: 15px;
    margin-bottom: 70px;
}

/* exhibition section */
.exhibition {
    background: url(/img//asian-palace.jpeg);
    background-position: center;
    background-size: cover;
}

.exhibition-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.iraj {
    padding-right: 30px;
}

.exhibition-title h1 {
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 5px;
    font-size: 6em;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.exhibition p {
    letter-spacing: 1px;
    font-weight: 200;
    color: #dddddd;
}

.exhibition .price {
    float: left;
    font-size: 1.5em;
}

.collection {
    background: url(img/bg-2.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
}

.collection .collection-title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.collection .collection-title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    margin-left: 30px;
    text-transform: uppercase;
}

.collection .collection-title::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60vh;
    width: 15px;
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

.collection .arts-item {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.collection h3 {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 2px;
}

.collection .artsSwiper {
    overflow-y: visible;
}

.collection .artsSwiper::before {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 55vh;
    width: 60%;
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

.collection .img-box {
    position: relative;
}

.collection .arts-item .arts-img {
    position: relative;
    max-height: 45vh !important;
    margin-right: 20px;
    cursor: grab;
}

.collection .arts-item .arts-frame {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    max-height: 45vh;
    transform: scale(1.02);
}

#hello {
    margin-top: 40px;
}

#myid {
    font-size: 28px;
    margin-right: 10px;
    margin-top: 8px;
}

.arts-description {
    margin-left: -10px;
}

.collection .arts-description p {
    color: #dddddd;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8em;
    margin-top: 8px;
}

/* event section */

.events img {
    width: 100%;
    transition: 0.3s;
}

.events img:hover {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

/* shop section */
.shop {
    background: url(img/shop-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.shop .portfolio-item {
    margin-top: 30px;
}

.shop #portfolio-filters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.shop #portfolio-filters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 3px 10px 3px;
    transition: 0.3s;
}

.shop #portfolio-filters li:hover,
.shop #portfolio-filters li.filter-active {
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

.shop .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.shop .portfolio-wrap::before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.6);
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: 0.3s;
    z-index: 2;
    opacity: 0;
}

.shop .portfolio-wrap .portfolio-info {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop .portfolio-wrap .portfolio-info::before {
    display: block;
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    top: 35px;
    left: 35px;
    border-top: 3px solid var(--primary);
    border-left: 3px solid var(--primary);
    transition: 0.3s ease;
    z-index: 9999;
}

.shop .portfolio-wrap .portfolio-info::after {
    display: block;
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid var(--primary);
    border-right: 3px solid var(--primary);
    transition: 0.3s ease;
    z-index: 9999;
}

.portfolio-info h4 {
    font-size: 2em;
    color: var(--primary);
    font-weight: 600;
}

.portfolio-info p {
    font-size: 1.3em;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0;
}

.portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio-links a {
    color: #ffffff;
    margin: 0 2px;
    font-size: 3em;
    display: inline-block;
    transition: 0.3s;
}

.portfolio-links a:hover {
    color: var(--primary);
}

.shop .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.shop .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.shop .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.shop .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}

/* modal */

#itemModal,
.modal {
    width: 100%;
    background: transparent !important;
    backdrop-filter: blur(20px) !important;
    --bs-modal-bg: transparent;
}

.modal-header {
    border-bottom: 1px solid var(--primary);
}

.modal-footer {
    border-top: 1px solid var(--primary);
}

.modal-header .modal-title {
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    font-size: 1.7em !important;
    letter-spacing: 2px;
}

.modal-close-btn {
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
    color: #ffffff;
    text-transform: uppercase;
    padding: 8px 25px;
    border: none;
    cursor: pointer;
}

.model-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.model-part3 {
    display: grid;
    grid-template-columns: 380px 200px 200px;
    gap: 20px;
    padding-top: 30px;
    height: 150px;
}

.model-part3 .box-1 {
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-part3 .box-1 ion-icon {
    color: var(--primary);
    font-size: 15px;
}

.model-part3 h3 {
    color: #ffffff;
    font-size: 15px;
}

.model-part3 p {
    color: #ffffff;
    font-size: 12px;
}

.model-part3 .box-2 {
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.model-part3 .box-3 {
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.model-part2 {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 20px;
    height: 260px;
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.6);
    margin-top: 20px;
}

iframe {
    width: 380px;
    height: 260px;
}

.form-container {
    margin-top: 15px;
    width: 400px;
    margin-left: -20px;
}

form .row {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: none;
}

form .row input {
    flex: 1;
}

form textarea {
    height: 96px;
    resize: none;
}

form button {
    display: block;
    width: 150px;
    padding: 5px;
    /* white background as requested */
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: -5px;
    transition: background 0.3s;
    background: radial-gradient(ellipse farthest-corner at right bottom,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

form button:hover {
    background: radial-gradient(ellipse farthest-corner at left top,
            #fedb37 8%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%),
        radial-gradient(ellipse farthest-corner at right bottom,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%);
}

/* responsive design */
@media (max-width: 768px) {
    header {
        padding: 30px;
    }

    .banner::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/bg.png) no-repeat;
        background-size: cover;
        background-position: center
    }

    .nav {
        display: none;
    }
    .menu {
        display: block;
    }
    .banner {
        padding: 10px 30px; 
    }
    .banner .content h1{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 3em;
        line-height: 1em;
    }

    .banner .content h4{
        color: #ffffff;
        text-decoration: uppercase;
        font-size: 1.5em;
        line-height: 1em;
    }

    #spin-container{
        display: none;
    }
}